extends ../layout

block content
  .login-container.container
    .panel
      .panel-body
        if messages.error
          .alert.alert-danger(role='alert')
            for error in messages.error
              div= error.msg

        form(method='POST')
          legend Log In
          .form-group
            label.control-label(for='email') Email
            input.form-control(type='email', name='email', id='email', placeholder='Email', autofocus=true)
          .form-group
            label.control-label(for='password') Password
            input.form-control(type='password', name='password', id='password', placeholder='Password')
          button.btn.btn-success(type='submit') Log in

    p.text-center Don't have an account?&nbsp;
      a(href='/signup')
        strong Sign up
