extends ../layout

block content
  .login-container.container
    .panel
      .panel-body
        if messages.error
          .alert.alert-danger(role='alert')
            for error in messages.error
              div= error.msg

        form(method='POST')
          legend Create an account
          .form-group
            label(for='name') Name
            input.form-control(type='text', name='name', id='name', placeholder='Name', autofocus=true)
          .form-group
            label(for='email') Email
            input.form-control(type='email', name='email', id='email', placeholder='Email')
          .form-group
            label(for='password') Password
            input.form-control(type='password', name='password', id='password', placeholder='Password')
          .form-group
            button.btn.btn-success(type='submit') Create an account


    p.text-center Already have an account?&nbsp;
      a(href='/login')
        strong Log in
