nav.navbar.navbar-default.navbar-static-top
  .container
    .navbar-header
      button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/') NightLyfe
    #navbar.navbar-collapse.collapse
      ul.nav.navbar-nav
        li(class=(title == 'Home') ? 'active' : null)
          a(href='/') Home
      ul.nav.navbar-nav.navbar-right
        if user
          li.dropdown
            a.navbar-avatar.dropdown-toggle(href='#', data-toggle='dropdown')
              i.caret
            ul.dropdown-menu
              li
                a(href='/account') My Account
              li.divider
              li
                a(href='/logout') Logout
        else
          li(class=(title == 'Log in') ? 'active' : null)
            a(href='/login') Log in
          li(class=(title == 'Sign up') ? 'active' : null)
            a(href='/signup') Sign up
