doctype html
html.landing(lang='en')
  head
    title Home
    link(rel="stylesheet", href="/css/main.css")
  body
    section.above-the-fold
      .center-vert
        h1 Welcome to 
          strong Nightlyfe
        h3 The Nightlife Co-Ordination Web-App
        br
        br
        br
        br
        br
        br
        hr(width='25%')
        br
        a.transition(href='/signup') Signup Now
        br
        br
        hr(width='25%')
        br
        a.transition(href='/places/') Browse Your Area
        br
        br
        hr(width='25%')
        br
        br
