doctype html
html(lang='en')
  head
    title #{title}
    script(src='https://code.jquery.com/jquery-2.2.4.min.js', integrity='sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=', crossorigin='anonymous')
    if redirect
      script(src="/js/redirect.js")
    link(rel="stylesheet", href="/css/main.css")
    link(rel="stylesheet", href="/css/lib/bootstrap.min.css")
    link(rel="stylesheet", href="/css/lib/material.min.css")
    link(rel="stylesheet", href="/css/lib/ripples.min.css")
    
  body
    include ./partials/header.jade
    block content
    
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
    script(src="/js/material.min.js")
    script(src="/js/ripples.min.js")
    script(src="/js/main.js")
    