extends layout

block content
    .panel.panel-default
      .panel-body
        if redirect
            h2.text-center Search for Bars in your Area
            p.text-center
                small Just Enter Your Town / City, and click 'Go'!
        else
            h2.text-center Bars around #{location}
        
        hr(width='50%')
        
        div
            .form-group.col-md-10
              label.col-md-2.control-label(for='search') Location
              .col-md-9
                input#search.form-control(type='text', placeholder='Dublin')
            .form-group.col-md-2
                a.text-center.btn.btn-primary#goSearch Go!
    if result
        br
        .container
        .col-md-2
        .col-md-8
            each result in places
                .panel.panel-primary
                  .panel-heading
                    h3 #{result.name}
                  .panel-body
                    .row
                        .col-xs-2
                            if result.image_url
                                img.img-responsive(src="#{result.image_url}")
                        .col-xs-10
                            p= result.snippet_text
                            a.btn.btn-primary.btn-lg(href='#{result.url}', role='button') View On Yelp
                            if result.going
                                a.btn.btn-primary.btn-lg(href='/notgoing/#{result.id}', role='button') I'm Not Going
                            else
                                a.btn.btn-primary.btn-lg(href='/going/#{result.id}', role='button') I'm Going
                            p.btn.btn-danger.btn-lg #{result.count} Are Going Tonight
                                
        .col-md-2
