@import 'https://fonts.googleapis.com/css?family=Roboto';
.landing html,
.landing body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  position: fixed;
  width: 99%;
  overflow: hidden; }

.landing .center-vert {
  display: table-cell;
  text-align: center;
  vertical-align: middle; }

.landing h1,
.landing h3 {
  margin: 0;
  text-transform: uppercase;
  color: white; }

.landing .above-the-fold {
  display: table;
  width: 100%;
  height: 100vh;
  text-align: center;
  background-color: #3498db; }
  .landing .above-the-fold h1 {
    font-weight: 300;
    font-size: 3em; }
  .landing .above-the-fold a {
    color: white;
    text-decoration: none;
    font-size: 20pt;
    transition: 0.5s ease; }
  .landing .above-the-fold .transition {
    display: inline-block; }
  .landing .above-the-fold .transition:after {
    content: '';
    display: block;
    height: 0;
    width: 100%;
    background: transparent;
    transition: height .5s ease, background-color .5s ease; }
  .landing .above-the-fold .transition:hover:after {
    height: 3px;
    background: white; }
  .landing .above-the-fold hr {
    width: 20%;
    border: 1px solid white; }
