@import 'https://fonts.googleapis.com/css?family=Roboto';
.landing {
	html,
	body {
		height: 100%;
		font-family: 'Roboto', sans-serif;
		position: fixed;
		width: 99%;
		overflow: hidden;
	}
	.center-vert {
		display: table-cell;
		text-align: center;
		vertical-align: middle;
	}
	h1,
	h3 {
		margin: 0;
		text-transform: uppercase;
		color: $landing-text-color;
	}
	.above-the-fold {
		display: table;
		width: 100%;
		height: 100vh;
		text-align: center;
		background-color: $brand-main;
		h1 {
			font-weight: 300;
			font-size: 3em;
		}
		a {
			color: $landing-text-color;
			text-decoration: none;
			font-size: 20pt;
			transition: 0.5s ease;
		}
		.transition {
			display: inline-block;
		}
		.transition:after {
			content: '';
			display: block;
			height: 0;
			width: 100%;
			background: transparent;
			transition: height .5s ease, background-color .5s ease;
		}
		.transition:hover:after {
			height: 3px;
			background: $landing-text-color;
		}
		hr {
			width: 20%;
			border: 1px solid $landing-text-color;
		}
	}
}
